IDD_DLG_ABOUT DIALOGEX 0, 0, 204, 63
STYLE DS_SETFONT | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About XRoar"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   CTEXT "" to_str(PACKAGE_TEXT) "", IDC_STATIC, 5, 5, 194, 12
   CTEXT "Copyright © " to_str(PACKAGE_YEAR) " Ciaran Anscomb <xroar@6809.org.uk>", IDC_STATIC, 5, 17, 194, 12
   CTEXT "https://www.6809.org.uk/xroar/", IDC_STATIC, 5, 29, 194, 12
   CONTROL "&Close", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 173, 46, 26, 12
END

IDD_DLG_TV_CONTROLS DIALOGEX 0, 0, 130, 151
STYLE DS_SETFONT | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "XRoar TV Controls"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   LTEXT "General", IDC_STATIC, 5, 5, 120, 12
   LTEXT "Volume", IDC_STATIC, 5, 17, 42, 12
   CONTROL "0", IDC_EDIT_VOLUME, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 47, 17, 47, 12
   CONTROL "", IDC_SPIN_VOLUME, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Brightness", IDC_STATIC, 5, 33, 42, 12
   CONTROL "0", IDC_EDIT_BRIGHTNESS, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 47, 33, 47, 12
   CONTROL "", IDC_SPIN_BRIGHTNESS, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Contrast", IDC_STATIC, 5, 45, 42, 12
   CONTROL "0", IDC_EDIT_CONTRAST, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 47, 45, 47, 12
   CONTROL "", IDC_SPIN_CONTRAST, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Colour", IDC_STATIC, 5, 57, 42, 12
   CONTROL "0", IDC_EDIT_SATURATION, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 47, 57, 47, 12
   CONTROL "", IDC_SPIN_SATURATION, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Hue", IDC_STATIC, 5, 69, 42, 12
   CONTROL "0", IDC_EDIT_HUE, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 47, 69, 47, 12
   CONTROL "", IDC_SPIN_HUE, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Composite Video", IDC_STATIC, 5, 81, 120, 12
   LTEXT "F(s)", IDC_STATIC, 5, 93, 40, 12
   COMBOBOX IDC_CB_FS, 45, 93, 80, 110, WS_CHILD | WS_VISIBLE | WS_VSCROLL | CBS_DROPDOWN
   LTEXT "F(sc)", IDC_STATIC, 5, 105, 40, 12
   COMBOBOX IDC_CB_FSC, 45, 105, 80, 110, WS_CHILD | WS_VISIBLE | WS_VSCROLL | CBS_DROPDOWN
   LTEXT "System", IDC_STATIC, 5, 117, 40, 12
   COMBOBOX IDC_CB_SYSTEM, 45, 117, 80, 110, WS_CHILD | WS_VISIBLE | WS_VSCROLL | CBS_DROPDOWN
   CONTROL "&Close", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 99, 134, 26, 12
END

IDD_DLG_TAPE_CONTROLS DIALOGEX 0, 0, 148, 207
STYLE DS_SETFONT | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "XRoar Tape Control"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   LTEXT "Input", IDC_STATIC, 5, 5, 138, 12
   LTEXT "", IDC_STM_INPUT_FILENAME, 5, 17, 138, 12, DT_PATH_ELLIPSIS | DT_SINGLELINE
   CONTROL "", IDC_LVS_INPUT_PROGRAMLIST, WC_LISTVIEW, WS_CHILD | LVS_REPORT, 5, 31, 138, 56
   SCROLLBAR IDC_SBM_INPUT_POSITION, 5, 91, 112, 12, SBS_HORZ
   LTEXT "00:00", IDC_STM_INPUT_POSITION, 119, 93, 20, 12
   CHECKBOX "Fast loading", IDC_BN_TAPE_FAST, 5, 105, 54, 12
   CHECKBOX "CAS padding", IDC_BN_TAPE_PAD_AUTO, 59, 105, 50, 12
   CHECKBOX "Rewrite", IDC_BN_TAPE_REWRITE, 109, 105, 34, 12
   CONTROL "Play", IDC_BN_INPUT_PLAY, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 119, 18, 12
   CONTROL "Pause", IDC_BN_INPUT_PAUSE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 23, 119, 22, 12
   CONTROL "Rewind", IDC_BN_INPUT_REWIND, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 45, 119, 26, 12
   CONTROL "Eject", IDC_BN_INPUT_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 71, 119, 22, 12
   CONTROL "Insert…", IDC_BN_INPUT_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 93, 119, 30, 12
   LTEXT "Output", IDC_STATIC, 5, 135, 138, 12
   LTEXT "", IDC_STM_OUTPUT_FILENAME, 5, 147, 138, 12, DT_PATH_ELLIPSIS | DT_SINGLELINE
   SCROLLBAR IDC_SBM_OUTPUT_POSITION, 5, 159, 112, 12, SBS_HORZ
   LTEXT "00:00", IDC_STM_OUTPUT_POSITION, 119, 161, 20, 12
   CONTROL "Record", IDC_BN_OUTPUT_RECORD, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 173, 26, 12
   CONTROL "Pause", IDC_BN_OUTPUT_PAUSE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 31, 173, 22, 12
   CONTROL "Rewind", IDC_BN_OUTPUT_REWIND, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 173, 26, 12
   CONTROL "Eject", IDC_BN_OUTPUT_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 173, 22, 12
   CONTROL "Insert…", IDC_BN_OUTPUT_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 173, 30, 12
   CONTROL "&Close", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 117, 190, 26, 12
END

IDD_DLG_DRIVE_CONTROLS DIALOGEX 0, 0, 162, 146
STYLE DS_SETFONT | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "XRoar Drive Control"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   LTEXT "Drive 1", IDC_STATIC, 5, 5, 30, 12
   LTEXT "", IDC_STM_DRIVE1_FILENAME, 35, 5, 122, 12, DT_PATH_ELLIPSIS | DT_SINGLELINE
   CHECKBOX "Write enable", IDC_BN_DRIVE1_WE, 5, 17, 54, 12
   CHECKBOX "Write back", IDC_BN_DRIVE1_WB, 59, 17, 46, 12
   CONTROL "Eject", IDC_BN_DRIVE1_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 17, 22, 12
   CONTROL "Insert…", IDC_BN_DRIVE1_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 127, 17, 30, 12
   LTEXT "Drive 2", IDC_STATIC, 5, 33, 30, 12
   LTEXT "", IDC_STM_DRIVE2_FILENAME, 35, 33, 122, 12, DT_PATH_ELLIPSIS | DT_SINGLELINE
   CHECKBOX "Write enable", IDC_BN_DRIVE2_WE, 5, 45, 54, 12
   CHECKBOX "Write back", IDC_BN_DRIVE2_WB, 59, 45, 46, 12
   CONTROL "Eject", IDC_BN_DRIVE2_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 45, 22, 12
   CONTROL "Insert…", IDC_BN_DRIVE2_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 127, 45, 30, 12
   LTEXT "Drive 3", IDC_STATIC, 5, 61, 30, 12
   LTEXT "", IDC_STM_DRIVE3_FILENAME, 35, 61, 122, 12, DT_PATH_ELLIPSIS | DT_SINGLELINE
   CHECKBOX "Write enable", IDC_BN_DRIVE3_WE, 5, 73, 54, 12
   CHECKBOX "Write back", IDC_BN_DRIVE3_WB, 59, 73, 46, 12
   CONTROL "Eject", IDC_BN_DRIVE3_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 73, 22, 12
   CONTROL "Insert…", IDC_BN_DRIVE3_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 127, 73, 30, 12
   LTEXT "Drive 4", IDC_STATIC, 5, 89, 30, 12
   LTEXT "", IDC_STM_DRIVE4_FILENAME, 35, 89, 122, 12, DT_PATH_ELLIPSIS | DT_SINGLELINE
   CHECKBOX "Write enable", IDC_BN_DRIVE4_WE, 5, 101, 54, 12
   CHECKBOX "Write back", IDC_BN_DRIVE4_WB, 59, 101, 46, 12
   CONTROL "Eject", IDC_BN_DRIVE4_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 101, 22, 12
   CONTROL "Insert…", IDC_BN_DRIVE4_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 127, 101, 30, 12
   CTEXT "Dr ? Tr ?? He ?", IDC_STM_DRIVE_CYL_HEAD, 5, 117, 152, 12
   CONTROL "&Close", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 131, 129, 26, 12
END

