IDD_DLG_ABOUT DIALOGEX 0, 0, 204, 63
STYLE DS_SETFONT | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About XRoar"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   CTEXT "" to_str(PACKAGE_TEXT) "", IDC_STATIC, 5, 5, 194, 12
   CTEXT "Copyright \xa9 " to_str(PACKAGE_YEAR) " Ciaran Anscomb <xroar@6809.org.uk>", IDC_STATIC, 5, 17, 194, 12
   CTEXT "https://www.6809.org.uk/xroar/", IDC_STATIC, 5, 29, 194, 12
   CONTROL "&Close", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 170, 46, 29, 12
END

IDD_DLG_TV_CONTROLS DIALOGEX 0, 0, 97, 87
STYLE DS_SETFONT | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "XRoar TV Controls"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   LTEXT "General", IDC_STATIC, 5, 5, 87, 12
   LTEXT "Brightness", IDC_STATIC, 5, 17, 40, 12
   CONTROL "0", IDC_EDIT_BRIGHTNESS, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 45, 17, 47, 12
   CONTROL "", IDC_SPIN_BRIGHTNESS, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Contrast", IDC_STATIC, 5, 29, 40, 12
   CONTROL "0", IDC_EDIT_CONTRAST, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 45, 29, 47, 12
   CONTROL "", IDC_SPIN_CONTRAST, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Colour", IDC_STATIC, 5, 41, 40, 12
   CONTROL "0", IDC_EDIT_SATURATION, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 45, 41, 47, 12
   CONTROL "", IDC_SPIN_SATURATION, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Hue", IDC_STATIC, 5, 53, 40, 12
   CONTROL "0", IDC_EDIT_HUE, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 45, 53, 47, 12
   CONTROL "", IDC_SPIN_HUE, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   CONTROL "&Close", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 63, 70, 29, 12
END

