IDD_DLG_ABOUT DIALOGEX 0, 0, 204, 63
STYLE DS_SETFONT | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About XRoar"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   CTEXT "" to_str(PACKAGE_TEXT) "", IDC_STATIC, 5, 5, 194, 12
   CTEXT "Copyright © " to_str(PACKAGE_YEAR) " Ciaran Anscomb <xroar@6809.org.uk>", IDC_STATIC, 5, 17, 194, 12
   CTEXT "https://www.6809.org.uk/xroar/", IDC_STATIC, 5, 29, 194, 12
   CONTROL "&Close", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 173, 46, 26, 12
END

IDD_DLG_TV_CONTROLS DIALOGEX 0, 0, 144, 219
STYLE DS_SETFONT | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "XRoar · TV controls"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   LTEXT "Audio", IDC_STATIC, 5, 5, 134, 12
   LTEXT "Volume", IDC_STATIC, 5, 17, 26, 12
   CONTROL "0", IDC_EDIT_VOLUME, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 31, 17, 47, 12
   CONTROL "", IDC_SPIN_VOLUME, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Video", IDC_STATIC, 5, 29, 134, 12
   LTEXT "TV input", IDC_STATIC, 5, 41, 50, 12
   COMBOBOX IDC_CB_TV_INPUT, 55, 41, 84, 110, WS_CHILD | WS_VISIBLE | WS_VSCROLL | CBS_DROPDOWN
   LTEXT "Brightness", IDC_STATIC, 5, 53, 50, 12
   CONTROL "0", IDC_EDIT_BRIGHTNESS, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 55, 53, 84, 12
   CONTROL "", IDC_SPIN_BRIGHTNESS, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Contrast", IDC_STATIC, 5, 65, 50, 12
   CONTROL "0", IDC_EDIT_CONTRAST, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 55, 65, 84, 12
   CONTROL "", IDC_SPIN_CONTRAST, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Colour", IDC_STATIC, 5, 77, 50, 12
   CONTROL "0", IDC_EDIT_SATURATION, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 55, 77, 84, 12
   CONTROL "", IDC_SPIN_SATURATION, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Hue", IDC_STATIC, 5, 89, 50, 12
   CONTROL "0", IDC_EDIT_HUE, "EDIT", WS_BORDER | WS_CHILD | WS_VISIBLE | ES_NUMBER, 55, 89, 84, 12
   CONTROL "", IDC_SPIN_HUE, UPDOWN_CLASS, WS_CHILD | WS_VISIBLE | UDS_ARROWKEYS | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_AUTOBUDDY | UDS_ALIGNRIGHT, 0, 0, 0, 0
   LTEXT "Picture Area", IDC_STATIC, 5, 101, 50, 12
   COMBOBOX IDC_CB_PICTURE, 55, 101, 84, 110, WS_CHILD | WS_VISIBLE | WS_VSCROLL | CBS_DROPDOWN
   LTEXT "60Hz Scaling", IDC_STATIC, 5, 113, 50, 12
   CHECKBOX "", IDC_BN_NTSC_SCALING, 55, 113, 84, 12
   LTEXT "Composite Video", IDC_STATIC, 5, 125, 134, 12
   LTEXT "Renderer", IDC_STATIC, 5, 137, 54, 12
   COMBOBOX IDC_CB_RENDERER, 59, 137, 80, 110, WS_CHILD | WS_VISIBLE | WS_VSCROLL | CBS_DROPDOWN
   LTEXT "F(s)", IDC_STATIC, 5, 149, 54, 12
   COMBOBOX IDC_CB_FS, 59, 149, 80, 110, WS_CHILD | WS_VISIBLE | WS_VSCROLL | CBS_DROPDOWN
   LTEXT "F(sc)", IDC_STATIC, 5, 161, 54, 12
   COMBOBOX IDC_CB_FSC, 59, 161, 80, 110, WS_CHILD | WS_VISIBLE | WS_VSCROLL | CBS_DROPDOWN
   LTEXT "System", IDC_STATIC, 5, 173, 54, 12
   COMBOBOX IDC_CB_SYSTEM, 59, 173, 80, 110, WS_CHILD | WS_VISIBLE | WS_VSCROLL | CBS_DROPDOWN
   LTEXT "Colour Killer", IDC_STATIC, 5, 185, 54, 12
   CHECKBOX "", IDC_BN_COLOUR_KILLER, 59, 185, 80, 12
   CONTROL "&Close", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 113, 202, 26, 12
END

IDD_DLG_TAPE_CONTROLS DIALOGEX 0, 0, 148, 207
STYLE DS_SETFONT | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "XRoar · Cassette tapes"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   LTEXT "Input", IDC_STATIC, 5, 5, 138, 12
   LTEXT "", IDC_STM_INPUT_FILENAME, 5, 17, 138, 12, SS_OWNERDRAW
   CONTROL "", IDC_LVS_INPUT_PROGRAMLIST, WC_LISTVIEW, WS_CHILD | LVS_REPORT, 5, 31, 138, 56
   SCROLLBAR IDC_SBM_INPUT_POSITION, 5, 91, 112, 12, SBS_HORZ
   LTEXT "00:00", IDC_STM_INPUT_POSITION, 119, 93, 20, 12
   CHECKBOX "Fast loading", IDC_BN_TAPE_FAST, 5, 105, 54, 12
   CHECKBOX "CAS padding", IDC_BN_TAPE_PAD_AUTO, 59, 105, 50, 12
   CHECKBOX "Rewrite", IDC_BN_TAPE_REWRITE, 109, 105, 34, 12
   CONTROL "Play", IDC_BN_INPUT_PLAY, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 119, 18, 12
   CONTROL "Pause", IDC_BN_INPUT_PAUSE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 23, 119, 22, 12
   CONTROL "Rewind", IDC_BN_INPUT_REWIND, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 45, 119, 26, 12
   CONTROL "Eject", IDC_BN_INPUT_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 71, 119, 22, 12
   CONTROL "Insert…", IDC_BN_INPUT_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 93, 119, 30, 12
   LTEXT "Output", IDC_STATIC, 5, 135, 138, 12
   LTEXT "", IDC_STM_OUTPUT_FILENAME, 5, 147, 138, 12, SS_OWNERDRAW
   SCROLLBAR IDC_SBM_OUTPUT_POSITION, 5, 159, 112, 12, SBS_HORZ
   LTEXT "00:00", IDC_STM_OUTPUT_POSITION, 119, 161, 20, 12
   CONTROL "Record", IDC_BN_OUTPUT_RECORD, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 173, 26, 12
   CONTROL "Pause", IDC_BN_OUTPUT_PAUSE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 31, 173, 22, 12
   CONTROL "Rewind", IDC_BN_OUTPUT_REWIND, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 173, 26, 12
   CONTROL "Eject", IDC_BN_OUTPUT_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 173, 22, 12
   CONTROL "Insert…", IDC_BN_OUTPUT_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 173, 30, 12
   CONTROL "&Close", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 117, 190, 26, 12
END

IDD_DLG_DRIVE_CONTROLS DIALOGEX 0, 0, 216, 146
STYLE DS_SETFONT | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "XRoar · Floppy disks"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   LTEXT "Drive 1", IDC_STATIC, 5, 5, 30, 12
   LTEXT "", IDC_STM_DRIVE1_FILENAME, 35, 5, 176, 12, SS_OWNERDRAW
   CHECKBOX "Write enable", IDC_BN_DRIVE1_WE, 5, 17, 54, 12
   CHECKBOX "Write back", IDC_BN_DRIVE1_WB, 59, 17, 76, 12
   CONTROL "Insert…", IDC_BN_DRIVE1_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 17, 30, 12
   CONTROL "New…", IDC_BN_DRIVE1_NEW, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 17, 24, 12
   CONTROL "Eject", IDC_BN_DRIVE1_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 189, 17, 22, 12
   LTEXT "Drive 2", IDC_STATIC, 5, 33, 30, 12
   LTEXT "", IDC_STM_DRIVE2_FILENAME, 35, 33, 176, 12, SS_OWNERDRAW
   CHECKBOX "Write enable", IDC_BN_DRIVE2_WE, 5, 45, 54, 12
   CHECKBOX "Write back", IDC_BN_DRIVE2_WB, 59, 45, 76, 12
   CONTROL "Insert…", IDC_BN_DRIVE2_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 45, 30, 12
   CONTROL "New…", IDC_BN_DRIVE2_NEW, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 45, 24, 12
   CONTROL "Eject", IDC_BN_DRIVE2_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 189, 45, 22, 12
   LTEXT "Drive 3", IDC_STATIC, 5, 61, 30, 12
   LTEXT "", IDC_STM_DRIVE3_FILENAME, 35, 61, 176, 12, SS_OWNERDRAW
   CHECKBOX "Write enable", IDC_BN_DRIVE3_WE, 5, 73, 54, 12
   CHECKBOX "Write back", IDC_BN_DRIVE3_WB, 59, 73, 76, 12
   CONTROL "Insert…", IDC_BN_DRIVE3_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 73, 30, 12
   CONTROL "New…", IDC_BN_DRIVE3_NEW, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 73, 24, 12
   CONTROL "Eject", IDC_BN_DRIVE3_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 189, 73, 22, 12
   LTEXT "Drive 4", IDC_STATIC, 5, 89, 30, 12
   LTEXT "", IDC_STM_DRIVE4_FILENAME, 35, 89, 176, 12, SS_OWNERDRAW
   CHECKBOX "Write enable", IDC_BN_DRIVE4_WE, 5, 101, 54, 12
   CHECKBOX "Write back", IDC_BN_DRIVE4_WB, 59, 101, 76, 12
   CONTROL "Insert…", IDC_BN_DRIVE4_INSERT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 101, 30, 12
   CONTROL "New…", IDC_BN_DRIVE4_NEW, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 101, 24, 12
   CONTROL "Eject", IDC_BN_DRIVE4_EJECT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 189, 101, 22, 12
   CTEXT "Dr ? Tr ?? He ?", IDC_STM_DRIVE_CYL_HEAD, 5, 117, 206, 12
   CONTROL "&Close", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 129, 26, 12
END

IDD_DLG_PRINTER_CONTROLS DIALOGEX 0, 0, 152, 84
STYLE DS_SETFONT | DS_CENTERMOUSE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "XRoar · Printer control"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   RADIOBUTTON "No printer", IDC_RB_PRINTER_NONE, 5, 5, 142, 12, BS_RADIOBUTTON | WS_TABSTOP | WS_GROUP
   CONTROL "", IDC_STATIC, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_ETCHEDHORZ , 5, 18, 142, 1
   RADIOBUTTON "Print to file", IDC_RB_PRINTER_FILE, 5, 20, 142, 12, BS_RADIOBUTTON | WS_TABSTOP
   LTEXT "", IDC_STM_PRINT_FILENAME, 5, 32, 112, 12, SS_OWNERDRAW
   CONTROL "Attach…", IDC_BN_PRINT_ATTACH, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 117, 32, 30, 12
   CONTROL "", IDC_STATIC, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_ETCHEDHORZ , 5, 45, 142, 1
   LTEXT "Characters printed:", IDC_STATIC, 5, 47, 60, 12
   LTEXT "0", IDC_STM_PRINT_CHARS, 65, 47, 60, 12
   CONTROL "Flush", IDC_BN_PRINT_FLUSH, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 47, 22, 12
   CONTROL "", IDC_STATIC, "STATIC", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_ETCHEDHORZ , 5, 60, 142, 1
   CONTROL "&Close", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 67, 26, 12
END

