## autoconf files
.dirstamp
## build files
/*.o
/alsa/*.o
/gtk2/*.o
/jack/*.o
/linux/*.o
/macosx/*.o
/mc6847/*.o
/null/*.o
/oss/*.o
/pulseaudio/*.o
/sdl/*.o
/sdl2/*.o
/sunos/*.o
/windows32/*.o
/windows32/*.res
/tags
/xroar
/xroar.exe
/xroar.dSYM/
