## autoconf files
.dirstamp
## build files
/*.o
/alsa/*.o
/gtk2/*.o
/gtk2/gtk2.gresource.c
/jack/*.o
/linux/*.o
/macosx/*.o
/mc6801/*.o
/mc6809/*.o
/mc6847/*.o
/null/*.o
/oss/*.o
/pulseaudio/*.o
/sdl/*.o
/sdl2/*.o
/sunos/*.o
/tcc1014/*.o
/wasm/*.o
/windows32/*.o
/windows32/*.res
/tags
/xroar
/xroar.exe
/xroar.js
/xroar.wasm
/xroar.wast
/xroar.dSYM/
